/*universal styles*/

html {
  font-size: 18px;
  font-family: Helvetica;
}

body {
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/*heading*/
header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30rem;
}

.heading {
  background-color: cadetblue;
  color: white;
  justify-content: space-between;
  position: relative;
  top: 1rem;
}

.logo {
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

.list li {
  padding: 1rem;
  margin-right: 1rem;
}

.menu {
  display: none;
}

.banner {
display: inline-block;
padding: 1.5rem 5rem;
margin-top: 10rem;
margin-right: -2rem;
background-color: white;
}

.flex.container {
  justify-content: flex-end;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
}

/*about*/

.images,
.about {
  justify-content: center;
}

.details {
  height: 8rem;
  margin: 3rem;
  width: 5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.paper {
  width: 3.5rem;
}

.ruler {
  width: 5rem;
}

.truck {
  width: 5rem;
}

.info {
  width: 35%;
  margin-right: 5%;
}

.text {
  background-color: cadetblue;
  font-weight: bold;
  color: white;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  max-width: 10rem;
}

.info p {
  margin: 1rem 0;
}

/*footer*/

footer {
  background-color: azure;
  margin-top: 5rem;
  align-items: center;
  padding: 4rem;
}

footer img{
  height: 1.5rem;
  padding-right: 1rem;
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 100%;
  }

  header {
    height: 22rem;
  }

  .heading {
    top: 0rem;
  }

  h1 {
    font-size: 1.33rem;
  }

  .banner {
    padding: 0.75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 690px) {
  header {
    background-position: 20%;
    height: 17rem;
  }

  .list {
    display: none;
  }

  .menu {
    display: block;
    padding: 1rem;
    margin-right: 1rem;
  }

  .banner {
    width: 100%;
    margin: 9rem 0 0 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }

  h1 {
    font-size: 1rem;
  }

  .images {
    flex-direction: column;
    align-items: center;
    margin: 3.77rem auto;
  }

  .details {
    margin: .77rem;
    height: auto;
    text-align: center;
    justify-content: flex-start;
  }

  .details span {
    padding: 1.54rem;
    font-size: 0.77rem;
  }

  .about {
    display: block;
  }

  .info {
    width: 100%;
  }

  .text {
    max-width: 100%;
    text-align: center;
  }

  .info p {
    font-size: 0.77rem;
  }

  .philosophy.info {
    margin-bottom: 4rem;
  }

}
