/*universal styles*/

html {
  font-size: 18px;
  font-family: Helvetica;
}

body {
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/*heading*/
.intro {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30rem;
}

.heading {
  background-color: cadetblue;
  color: white;
  justify-content: space-between;
  position: relative;
  top: 1rem;
}

.logo {
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}


li {
  padding: 1rem;
  margin-right: 1rem;
}

.banner {
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  position: relative;
  top: 12rem;
  left: 30rem;
  width: 35rem;
}

h1 {
  padding: 1.5rem 5rem;
}

/*about*/

.images,
.about {
  justify-content: center;
}

.details {
  height: 8rem;
  margin: 3rem;
  width: 5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.paper {
  width: 3.5rem;
}

.ruler {
  width: 5rem;
}

.truck {
  width: 5rem;
}

.info {
  width: 35%;
  margin-right: 5%;
}

.text {
  background-color: cadetblue;
  font-weight: bold;
  color: white;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  max-width: 10rem;
}

.info p {
  margin: 1rem 0;
}

/*footer*/

footer {
  background-color: azure;
  margin-top: 5rem;
  align-items: center;
  padding: 4rem;
}

footer img{
  height: 1.5rem;
  padding-right: 1rem;
}

@media only screen and (max)
